# SPDX-License-Identifier: Apache-2.0
# Native CP kernel/console diagnostic; optional product devices are excluded.
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CUSTOM_DIR="../vendor/beken/boards/bk7258/aidk_ai_toy"
CONFIG_ARCH_BOARD_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="aidk_ai_toy"
CONFIG_ARCH_CHIP_ARM_CUSTOM=y
CONFIG_ARCH_CHIP_BK7258=y
CONFIG_ARCH_CHIP_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM_DIR="../vendor/beken/chips/bk7258"
CONFIG_ARCH_CHIP_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_CHIP_CUSTOM_NAME="bk7258"
CONFIG_ARCH_INTERRUPTSTACK=2048
# CONFIG_ARCH_PERF_EVENTS is not set
CONFIG_ARMV8M_SYSTICK=y
CONFIG_BK7258_BOARD_AIDK_AI_TOY=y
CONFIG_BK7258_CONSOLE_UART0=y
CONFIG_BK7258_UART0_BAUD=115200
CONFIG_BK7258_SDK_IRQ_BRIDGE=y
# CONFIG_BK7258_AIDK_WAKE_REPLY_PCM is not set
# CONFIG_BK7258_AP_AUTOSTART is not set
# CONFIG_BK7258_AP_CONTROL is not set
# CONFIG_BK7258_AP_SUPERVISOR is not set
# CONFIG_BK7258_APP_OTA is not set
# CONFIG_BK7258_APP_WIFI is not set
# CONFIG_BK7258_BT_IPC is not set
# CONFIG_BK7258_CLOCK_240M is not set
# CONFIG_BK7258_DVFS is not set
# CONFIG_BK7258_FLASH_MTD is not set
# CONFIG_BK7258_GPIO_LOWERHALF is not set
# CONFIG_BK7258_OTA is not set
# CONFIG_BK7258_PM_CLOCK is not set
# CONFIG_BK7258_PM_COORDINATED_STANDBY is not set
# CONFIG_BK7258_PM_POLICY is not set
# CONFIG_BK7258_PM_SOFT_OFF is not set
# CONFIG_BK7258_PSRAM is not set
# CONFIG_BK7258_PSRAM_SYSTEM_HEAP is not set
# CONFIG_BK7258_RPTUN is not set
# CONFIG_BK7258_RPTUN_LAYOUT is not set
# CONFIG_BK7258_SARADC_SERVER is not set
# CONFIG_BK7258_SDK_IPC_RUNTIME is not set
# CONFIG_BK7258_STORAGE_ONCHIP_PERSISTENT is not set
# CONFIG_BK7258_SWD_DEBUG is not set
# CONFIG_BK7258_TEMP_SERVER is not set
# CONFIG_BK7258_WDT is not set
# CONFIG_BK7258_WIFI_VNET is not set
CONFIG_BOARDCTL_RESET=y
CONFIG_BUILTIN=y
CONFIG_FS_PROCFS=y
CONFIG_IDLETHREAD_STACKSIZE=2048
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_CONSOLE=y
# CONFIG_NSH_DISABLEBG is not set
# CONFIG_NSH_DISABLE_PS is not set
# CONFIG_NSH_DISABLE_SLEEP is not set
CONFIG_NSH_READLINE=y
CONFIG_RAW_BINARY=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_LPWORK=y
CONFIG_SIG_DEFAULT=y
CONFIG_SYSTEM_NSH=y
CONFIG_SYSTEM_TIME64=y
CONFIG_TIMER=y
CONFIG_TIMER_ARCH=y
# CONFIG_WATCHDOG_AUTOMONITOR is not set
