#
# NuttX board configuration for RV1126B EVB
#

config ARCH_BOARD_RV1126B_EVB
	bool "Rockchip RV1126B EVB/SportCam compatible board"
	depends on ARCH_BOARD_CUSTOM
	default y
	---help---
		Custom board wrapper for the contest RV1126B BSP.
